* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #fff;
}
section{
	padding: 30px;
}
h1{
	font-size: 70px;
	text-align: center;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	max-height: 800px;
	background-color: #1a1a1a;
}

p {
	margin: 40px 0 20px;
	text-align: center;
	color: #fff;
	font-size: 45px;
	letter-spacing: 4px;
}

.box {
	width: 100px;
	height: 100px;
	border-width: 5px;
	border-style: solid;
	margin: 25px;
}

.box:first-child {
	border-color: red;
}

.box:nth-child(2) {
	border-color: green;
}

.box:nth-child(3) {
	border-color: yellow;
}

.box:nth-child(4) {
	border-color: teal;
}

.box:nth-child(5) {
	border-color: blueviolet;
}

.box:nth-child(6) {
	border-color: orangered;
}

.box:nth-child(7) {
	border-color: aqua;
}

.box:nth-child(8) {
	border-color: blue;
}

.box:nth-child(9) {
	border-color: white;
}

.box:nth-child(10) {
	border-color: crimson;
}

.box:nth-child(11) {
	border-color: chartreuse;
}

.box:nth-child(12) {
	border-color: hotpink;
}

.box:nth-child(13) {
	border-color: gold;
}

/* propeties */

.flex {
	padding: 20px;
	display: flex;
}

.wrap {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

.row {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.row-reverse {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.column {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.column-reverse {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
}

.wrap_row {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-flow: wrap row;
}

.wrap_row-reverse {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-flow: wrap row-reverse;
}

.wrap_column {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-flow: wrap column;
}

.wrap_column-reverse {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-flow: wrap column-reverse;
}

.justify-content-start {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.justify-content-center {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.justify-content-end {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.justify-content-between {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.justify-content-around {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.justify-content-evenly {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.align-items-start {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.align-items-center {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.align-items-end {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.align-content-start {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.align-content-center {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.align-content-end {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
}

.align-content-between {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.align-content-around {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.align-content-evenly {
	height: 800px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-evenly;
}

.gap {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.row-gap {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 60px;
}

.column-gap {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 90px;
}

@media (max-width: 1200px) {
	h1 {
		font-size: 60px;
	}
	p {
		font-size: 35px;
	}
	.box {
		width: 80px;
		height: 80px;
	}
}

@media (max-width: 992px) {
	h1 {
		font-size: 50px;
	}
	p {
		font-size: 30px;
	}
	.box {
		width: 70px;
		height: 70px;
		border-width: 4px;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 25px;
	}
	.box {
		width: 60px;
		height: 60px;
		margin: 15px;
	}
}

@media (max-width: 576px) {
	h1 {
		font-size: 30px;
	}
	p {
		font-size: 20px;
	}
	.box {
		width: 50px;
		height: 50px;
		border-width: 3px;
	}
	.container{
		min-width: 270px;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 25px;
	}
	p {
		font-size: 18px;
	}
	.box {
		width: 40px;
		height: 40px;
	}
}